nix_direnv_manual_reload

watch_file wrappers/default.nix
watch_file wrappers/**/*

watch_file various/npins/sources.json

watch_file packages.nix
watch_file various/packages/*
watch_file various/packages/**/*
use nix
