/* Remove useless separator */
.titlebar-spacer {
  display: none;
}

/* Remove bookmark star */
#star-button-box {
  display: none !important;
}

/* Remove "Protection shield" icon */
#tracking-protection-icon-container {
  display: none !important;
}

#vertical-pinned-tabs-container,
scrollbox {
  scrollbar-width: auto !important;
}
